.Container {
    width: 100%;
    margin: 1rem;
}

.Result {
    margin: 1rem auto;
}


.ChartContainer {
    height: 300px;
}

.Chart {
    width: 95%;
    margin: 0 auto 3rem;
    padding: 0 0 1rem;
    border-radius: 30px;
    background-color: white;

}

.Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ChartTitleContainer {
    margin: 0 1rem;
}

.ChartTitle {
    display: block;
    text-align: center;
    padding: 0.5rem;
}

.IconContainer {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
}

.Icon {
    display: block;
    width: 100%;
    height: 100%;
}