.Container {
    width: 100%;
    margin: 1rem;
}

.Result {
    margin: 1rem auto;
}


.ChartContainer {
    height: 300px;
}

.Chart {
    width: 95%;
    border-radius: 30px;
    background-color: white;
    margin: 3rem auto;
}

.ChartTitle {
    text-align: center;
}