.Search {
    display: block;
    grid-area: search;
    width: 100%;
    padding: 5rem 0 0;
    border: 1px solid transparent;
    border-radius: 0 0 30% 30%;
    background-color: #00b7ff;
    background-image: url("../../assets/background/Large-Triangles.svg");
}

.CityInput {
    margin: 0 auto;
    width: 20rem;
}

.City {
    width: 10rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
    text-align: center;
    border: 1px solid #ffd652;
    border-radius: 5px;
    outline: none;
}

.SearchButton {
    width: 5rem;
    padding: 0.5rem;
    margin: 0 0.5rem 0 2rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #ffd652;
    color: #0072ff;
    outline: none;
    cursor: pointer;
}

.SearchButton:hover {
    color: white;
    background-color: #072448;
}

.CountryLabel {
    border: 1px solid #458027;
    border-radius: 5px;
    padding: 0.5rem;
    color: white;
    background-color: #458027;
    margin: 1rem auto;

}

.CountryInput {
    width: 14rem;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.SelectCountry {
    width: 10rem;
    padding: 0.8rem;
    border: 1px solid black;
    border-radius: 7px;
    outline: none;
}